.fontstyle
{
	font-size: 1.5em !important;
}
.projecticon
{
	height: 250px;
	width: 350px;
}
.producttext
{
	margin-bottom: 10px;
	margin-top: 10px;
}
.productpadding1
{
	padding-bottom: 40px;
}
.productpadding2
{
	padding-top: 40px;
	padding-bottom: 20px;
}
.productpadding3
{
	padding-top: 20px;
	padding-bottom: 90px;
}
.productheading
{
	margin-top: 14px;
}
.logo
{
	margin-left: 0.2%;
    margin-right: 0.2%;
    margin-bottom: 4px;
    width: 19.6%;
    float: left;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
}
.fontweight
{
	font-weight: 500 !important;
}
.hover-shadow{
  	-webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  	-webkit-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
  	transition: all 0.3s ease-out;
}

.hover-shadow--hover:hover {
  	-webkit-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
   	box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
  	-webkit-transform: translateY(-5px);
   	-ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.hover-navbar:hover{
  transform: scale(1.03);
}
.hover-footer:hover{
  transform: scale(1.02);
}
.padding-prodeuct
 {
 	padding: 15px !important;
}
.logo-footer
 {
 	margin-top: -30px;
}
a.hover-left
{
  position: relative;
}
a.hover-left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #86bc42;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
a.hover-left:hover:before {
  visibility: visible;
  width: 100%;
}
